* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background: #333;
    color: #fff;
}

a {
    text-decoration: none;
    color: #008585;
}
