.repository-list {
  padding: 2rem;

  h1 {
    text-align: center;
  }

  ul {
    list-style-type: none;
    padding: 1rem;
    border: 1px solid #555;
    margin: 2rem auto;
  }

  .repository-item {
    margin: 1rem;
    padding: 1.5rem;
    border-bottom: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 5px 4px 3px #444;

    .repo-name {
      font-size: 1.6rem;
    }
    
    .repo-description {
      margin: .5rem 0;
    }
  }

}